// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea { resize: none; }

// Form
.form-wrapper {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .post-form {
        background: #5995DA;
        box-shadow: 2px 3px 10px rgb(54, 54, 54);
        border-radius: 8px;
        width: 330px;
        height: 85%;

        display: flex;
        justify-content: center;
        align-items: center;

        textarea, button { border-radius: 5px;}
    }
}

// Posts
.wrapper { 
    width: 100vw;
    border: 1px solid black;
}

.post-wrapper {
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likes-count {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}