// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header > *{
    text-align: center;
    padding: 5px;
}

.avatar img{
    border: 2px solid rgba(128, 128, 128, 0.288);
    border-radius: 3px;
}
